version: '3.8'

services:
  postgres:
    image: postgres:16.8-alpine
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: "admin1"
      POSTGRES_PASSWORD: "!Password1"
      POSTGRES_DB: "my_database"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
